{% extends 'layout.html' %}

{% block title %}
    {{titulo}}
{% endblock %}

{% block content %}
    <!-- Comentarios en HTML-->
    <!-- Pagina Index-->
    {% comment 'Datos de la página Index' %}
        En esta página se mostrará la página inicial del sistema....
    {% endcomment %}
    <h1 class="title">Página {{titulo}}</h1>
    <p> Usando Templates </p>
    {% if mensaje %}
        <p> Mensaje: {{mensaje}} </p>
    {% else %}
        <strong>El mensaje no tiene contenido...</strong>
    {% endif %}

    <p><strong>Estudiantes Registrados (Método 01: Imprime Lista): </strong>  </p>
    {{estudiantes}}

    <p><strong>Estudiantes Registrados (Método 02: Imprime Lista utilizando for): </strong></p>
    <ul>
        {% for estudiante in estudiantes %}
            <li>{{forloop.counter}}. {{estudiante}}</li>
        {% empty %}
            <p>No hay estudiantes registrados</p>
        {% endfor %}
    </ul>
    <p>Año 2020 </p>
{% endblock %}