
/*Estilos Generales*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
 
body{
    background-color: #f2f2f2;
}
 
/* Estilos Cabecera */
header{
    width: 1212px;
    height: 140px;
    background-color: #23282B;
    margin: 0 auto;
}
 
#logotipo {
    width: 35%;
    height: 130px;
    margin: 0 auto;
    padding-top: 10px;
}
 
#logotipo img{
    display: block;
    width: 60px;
    float: left;
    margin-top: 20px;
}
 
#logotipo h1{
    display: block;
    float: left;
    margin-top: 35px;
    margin-left: 20px;
    letter-spacing: 2px;
    font-weight: lighter;
    color: #2ba977;
}
